<div class="app">
  <!-- <counter [count]="initialCount"></counter> -->
</div>

<app-item-detail [item]='currentItem'></app-item-detail>

<app-item-output (newItemEvent) ="addItem($event)"></app-item-output>
<ul>
  <li *ngFor="let item of items">{{item}}</li>
</ul>


<hr>

<h2>Input and Output together</h2>
<p>Open the console to see the EventEmitter at work when you click Delete.</p>

<app-input-output
  [item] ="currentItem"
  (deleteRequest)="crossOfItem($event)">
</app-input-output>

<hr>

<router-outlet></router-outlet>
